/*COLORS*/
$sidebar_background: #fca;
$main_background: #fffeee;
$pink_card: #fbf;
$skyblue_card: #8bf;
$mustard_card: #f1d150;
$greengrass_card: #69fd69;
$orange_card: #ff8050;
$text: #555;
$card_text: #efefef;
$menu_link: #aba;
$side_nav_link: #bb9988;
$menu_link_hover: #7f5fcf;
$transparent_background: #cfcdcdb2;

/*Screen&widths*/

$small_screen: 550px;
$sidebar_width_big: 80px;
$sidebar_width_small: 50px;
