@import "../scss/variables.scss";
.MainLayout {
  display: flex;
  flex-direction: row;
  .Sidebar {
    background: $sidebar_background;
    display: block;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    width: $sidebar_width_small;
    height: 100%;
    overflow: hidden;
    > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 99%;
      font-size: 2rem;
      margin: 20px auto;
      text-align: center;
      > a {
        color: $side_nav_link;
        text-decoration: none;
        margin: 15px 0;
        &:hover {
          color: $menu_link_hover;
        }
      }
      .Active {
        color: $menu_link_hover;
      }
    }
  }
  .Main {
    width: 100%;
    padding: 5px $sidebar_width_small + 20px;
    display: flex;
    flex-direction: column;
    header {
      display: flex;
      flex-direction: column;
      height: 110px;
      h1,
      h2,
      h3,
      h4,
      h5 {
        color: $text;
        font-family: Tahoma, sans-serif;
        font-weight: 400;
      }
      > div {
        display: flex;
        justify-content: flex-start;
        > div {
          font-weight: 600;
          font-size: 1rem;
          margin: 0px 5px;
          &.Active a {
            color: $menu_link_hover;
          }
          > a {
            color: $menu_link;
            text-decoration: none;
            &:hover {
              color: $menu_link_hover;
            }
          }

          &::after {
            content: "";
            display: block;
            width: 20%;
            margin: auto;
            border-bottom: 3px solid $main_background;
          }

          &:hover::after,
          &.Active::after {
            content: "";
            display: block;
            width: 20%;
            margin: 0px auto;
            border-bottom: 3px solid $menu_link_hover;
          }
        }
      }
    }
    main {
      .Card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: $card_text;
        width: 99%;
        min-height: 200px;
        padding: 20px;
        margin: 20px auto;
        border-radius: 15px;
        .CardTitle {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
        .CardButton {
          width: 20px;
          height: 20px;
          padding: 5px 5px 10px 10px;
          border-radius: 5px;
          background: $transparent_background;
        }
        &:nth-child(5n-4) {
          background: $pink_card;
          background-image: url("../assets/images/banana.png");
          background-repeat: no-repeat;
          background-position: 50% 50%;
        }
        &:nth-child(5n-3) {
          background: $skyblue_card;
          background-image: url("../assets/images/web-design-computer.png");
          background-repeat: no-repeat;
          background-position: 50% 50%;
        }
        &:nth-child(5n-2) {
          background: $mustard_card;
          background-image: url("../assets/images/animation.gif");
          background-repeat: no-repeat;
          background-position: 50% 50%;
        }
        &:nth-child(5n-1) {
          background: $greengrass_card;
          background-image: url("../assets/images/multimedia.png");
          background-repeat: no-repeat;
          background-position: 50% 50%;
        }
        &:nth-child(5n) {
          background: $orange_card;
          background-image: url("../assets/images/camera.png");
          background-repeat: no-repeat;
          background-position: 50% 50%;
        }
      }
    }
  }
}

@media (min-width: $small_screen) {
  .MainLayout {
    .Sidebar {
      width: $sidebar_width_big;
      > div {
        margin-top: 50px;
        font-size: 2rem;
        > a {
          border-left: 4px solid $sidebar_background;
          &:hover {
            border-left: 4px solid $menu_link_hover;
          }
        }
        .Active {
          color: $menu_link_hover;
          border-left: 4px solid $menu_link_hover;
        }
      }
    }
    .Main {
      padding-left: $sidebar_width_big + 50px;
      header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        > div {
          justify-content: flex-end;
        }
      }
    }
  }
} ;
